<!DOCTYPE html>
<html lang="en">
<head>
    <title>Arrangement</title>
</head>
<body>
<div>
    <form title="changearr" method="post">
          <input type="radio" name="area1" value="BH-6">&nbsp;BH-6 Street &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="radio" name="arrange1" value="regular">&nbsp;All Array On<br>
                   <input type="radio" name="area1" value="BH-3">&nbsp;BH-3 ground &nbsp;&nbsp;&nbsp;&nbsp;
                   <input type="radio" name="arrange1" value="even">&nbsp;Even Array On<br>
        <input type="submit" value="Submit" name="submit">
    </form>
</div>
</body>
</html>